body {
    background-color: #fafafa !important;
    text-align: center;
    padding-left: 5%;
	padding-right: 5%;
}

img{
	height: auto;
	max-width: 100%;
}
td {
	vertical-align: top;
}

.td30 {
	width: 30%
}

.right {
	text-align: right;
}