body {
    background-color: #fafafa !important;
    text-align: center;
}

img{
	height: auto;
	max-width: 100%;
}

.padding-horizontal {
	padding-left: 10%;
	padding-right: 10%;
}

.right {
	text-align: right;
}