%title
  ='内含王#漫画'
%body
  %div
    %img{:src => '/images/neihanwang_search.jpg'}
  %h3
    =title
  %div.hide
    %table
      %tr
        %td
          %h3.donation
            = "如果您真的喜欢我们的节目,请为我们捐一分钱表示您的支持!"
        %td.td30
          %a{:href=>"http://www.baidu.com",:onclick=>"alert('感谢您对内含王的支持！下面请看一则广告')"}
            %h4.red
              = "为我捐1分钱"
            %img{:src => '/images/mls.gif'}
  %div
    %img{:src => picture_url}
  %div
    %img{:src => '/images/code.jpg'}
