%title
  ='微信订阅号#内含王#漫画'
%body
  %h1
    =title
  %h4
    %a{:href=>"javascript:viewProfile();",:id=>"post-user",:class=>"activity-meta"}
      = "点击关注#内含王#"
  %div
    %img{:src => WEXIN_GIF_MLS}
  %div
    %img{:src => picture_url}
  %div
    %img{:src => WEIXIN_IMAGE_QR_CODE}  
