%title
  ='内含王#漫画'
%body
  %h1
    =title
  %div.right
    %table
      %tr
        %td
          %h4
            = "如果您真的喜欢我们的节目,情为我们捐一分钱表示您的支持!"
        %td.td30
          %h4
            %a{:href=>"http://weixin.qq.com/r/_Uzi_sTEDJlzrYCZ9xnr"}
              = "为我捐1分钱"
          %img{:src => '/images/mls.gif'}
  %div
    %img{:src => picture_url}
  %div
    %img{:src => '/images/code.jpg'}  
