%title
  ='内含王#漫画'
%body
  %h1
    =title
  %div.right
    %h4
      %a{:href=>"http://weixin.qq.com/r/_Uzi_sTEDJlzrYCZ9xnr"}
        = "点击关注#内含王#"
    %img{:src => '/images/mls.gif'}
  %div.padding-horizontal
    %img{:src => picture_url}
  %div
    %img{:src => '/images/code.jpg'}  
