!!!
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "Description", :content => '微信订阅号:内含王,提供各种幽默漫画、笑话、脑筋急转弯等等开心栏目'}
    %meta{:name => "lang", :content => "en"}        
    %meta{:name => 'Keywords', :content => "内含王,内涵王,内涵,内含,笑话,漫画,在线听歌,在线音乐,脑筋急转弯,急转弯,音乐"}
    %meta{:name => 'viewport', :content=>'width=device-width, initial-scale=0.7, maximum-scale=1, minimum-scale=0.7, target-densitydpi=medium-dpi'}
    %link{:href =>'/stylesheets/bootstrap.min.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href =>'/stylesheets/app.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    = yield